// Variables
$primary-color : #ed017f;
$primary-text-color : #8b054d;
$secondary-color : #33b27b;
$tertiary-white : #fff;
$tertiary-black : #000;
$light-black : #1c1d1f;
$yellow : #fba100;
$bg-color : #f5f5f5;
$grey: grey;
