RewriteEngine On

DirectoryIndex home.php
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^product/([^/]+)/?$ product.php?product=$1 [L,QSA]
RewriteRule ^blog/([^/]+)/?$ blog.php?title=$1 [L,QSA]

RewriteRule ^eshop home.php [L,QSA]