/**
*
*@author Samba Sallah
*@project eshop
*
**/
.page_setup, .dashboard {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
}

.page_container_setup, .dashboard .dashboard_container {
  width: 95%;
  margin: 0px auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.save_amount {
  color: #33b27b;
  font-weight: bold;
  font-size: 12px;
}

.grey {
  color: grey;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body a {
  padding: 0px;
  text-decoration: none;
}

body a:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

p {
  padding: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

/** reset code **/
/** navbar css **/
.navbar-bg-color {
  background-color: #ed017f;
}

.navbar {
  -webkit-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.navbar .nav-item {
  padding-right: 20px;
}

.navbar a.nav-link {
  color: #fff;
  font-size: 14px;
  padding-right: 5px !important;
  text-transform: uppercase;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar .fa.fa-bell {
  font-size: 20px;
}

.main_nav {
  height: 55px;
}

.badge {
  border-radius: 9px;
}

#lblCartCount {
  font-size: 12px;
  background: #000;
  color: #fff;
  padding: 2px 5px;
  vertical-align: top;
}

.dashboard .nav {
  list-style-type: none;
}

.dashboard .nav li.nav-item a.nav-link {
  display: block;
  padding: 10px;
  font-size: 24px;
}

.nav-pills > li > a.active {
  background-color: #33b27b !important;
}

.nav-pills > li > a.active i {
  color: #000;
}

.nav a.nav-link {
  color: #000;
}

.nav a.nav-link i {
  padding-left: 70px;
  color: #33b27b;
}

/** breadcrumb **/
.breadcrumb {
  background-color: #fff;
  height: 50px;
}

.breadcrumb .breadcrumb_container {
  width: 95%;
  margin: 0px auto;
}

/** dashboard **/
#dashboard .dashboard_content {
  width: 90%;
  margin: 20px auto;
}

#dashboard .live_visitors, .orders, .total_sales {
  padding: 20px;
  height: 100px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
}

#dashboard .live_visitors {
  background-image: -webkit-gradient(linear, right top, left top, from(#ed017f), to(grey));
  background-image: linear-gradient(to left, #ed017f, grey);
}

#dashboard .orders {
  background-image: -webkit-gradient(linear, right top, left top, from(#33b27b), to(grey));
  background-image: linear-gradient(to left, #33b27b, grey);
}

#dashboard .total_sales {
  background-image: -webkit-gradient(linear, right top, left top, from(#000), to(grey));
  background-image: linear-gradient(to left, #000, grey);
}

.live_visitors h5 {
  font-size: 25px;
  font-weight: lighter;
}

.orders h5 {
  font-size: 25px;
  font-weight: lighter;
}

.total_sales h5 {
  font-size: 25px;
  font-weight: lighter;
}

.live_visitors h6 {
  font-size: 23px;
}

.orders h6 {
  font-size: 23px;
}

.total_sales h6 {
  font-size: 23px;
}

#dashboard .row {
  margin-bottom: 20px !important;
}

/** orders **/
.table {
  margin-top: 20px;
}

.table button i.fa.fa-trash, button i.fa.fa-edit {
  color: #ed017f;
}

/** products **/
.product_content h5 {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */