/**
*
*@author Samba Sallah
*@project eshop
*
**/

$primary_color : #ed017f;
$secondary_color : #33b27b;
$tertiary_white : #fff;
$tertiary_black : #000;
$background_color : #f5f5f5;
$light_black : #1c1d1f;
$yellow : #fba100;
$grey : grey;


.page_setup {
	width: 100%;
	background-color: $background_color;
	padding: 20px;
}

.page_container_setup {
	width: 95%;
	margin: 0px auto;
	padding: 20px;
	box-sizing: border-box;
	background-color: $tertiary_white;
	
}



.save_amount {
	color: $secondary_color;
	font-weight: bold;
	font-size: 12px;
}

.grey {
	color: grey;
}



@import 'reset';

/** navbar css **/
.navbar-bg-color {
	background-color: $primary_color;
}

.navbar {
	box-shadow: -1px 2px 3px rgba(0,0,0,0.5);
}
.navbar .nav-item {
	padding-right: 20px;
}

.navbar a.nav-link {
	color: $tertiary_white;
	font-size: 14px;
	padding-right: 5px !important;
	text-transform: uppercase;
}

.navbar-brand {
	color: $tertiary_white;
}

.navbar-brand:hover {
	color: $tertiary_white;
}

.navbar .fa.fa-bell {
	font-size: 20px;
}

.main_nav {
	height: 55px;
}

.badge {
	border-radius: 9px;
  }
  
#lblCartCount {
	  font-size: 12px;
	  background: $tertiary_black;
	  color: $tertiary_white;
	  padding: 2px 5px;
	  vertical-align: top;
}

.dashboard {
	@extend .page_setup;
}

.dashboard .dashboard_container {
	@extend .page_container_setup;
}

.dashboard .nav {
	list-style-type: none;
}

.dashboard .nav li.nav-item a.nav-link {
	display: block;
	padding: 10px;
	font-size: 24px;
}

.nav-pills > li > a.active {
	background-color: $secondary_color !important;
}

.nav-pills > li > a.active i {
	color: $tertiary_black;
}

.nav a.nav-link {
	color: $tertiary_black;
}

.nav a.nav-link i {
	padding-left: 70px;
	color: $secondary_color;
}
/** breadcrumb **/

.breadcrumb {
	background-color: $tertiary_white;
	height: 50px;
}

.breadcrumb .breadcrumb_container{
	width: 95%;
	margin: 0px auto;
}

/** dashboard **/


#dashboard .dashboard_content {
	width: 90%;
	margin: 20px auto;
}

#dashboard .live_visitors, .orders, .total_sales {
	padding: 20px;
	height: 100px;
	color: $tertiary_white;
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: -1px 2px 3px rgba(0,0,0,0.25);
}

#dashboard .live_visitors {
	background-image: linear-gradient(to left,#ed017f,$grey);
}

#dashboard .orders {
	background-image: linear-gradient(to left,$secondary_color,$grey);
}

#dashboard .total_sales {
	background-image: linear-gradient(to left, $tertiary_black,$grey);
}

.live_visitors h5  {
	font-size: 25px;
	font-weight: lighter;
}

.orders h5  {
	font-size: 25px;
	font-weight: lighter;
}

.total_sales h5  {
	font-size: 25px;
	font-weight: lighter;
}

.live_visitors h6 {
	font-size: 23px;
}

.orders h6 {
	font-size: 23px;
}

.total_sales h6 {
	font-size: 23px;
}

#dashboard .row {
	margin-bottom: 20px !important;
}

/** orders **/
.table {
	margin-top: 20px;
}
.table button i.fa.fa-trash, button i.fa.fa-edit {
	color: $primary_color;
}

/** products **/
.product_content h5 {
	text-align: right;
}